* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 600px;
    height: 600px;
    background: rgb(85, 84, 84);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}

.ch {
    width: 350px;
    height: 12px;
    background: white;
    border-radius: 7px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container div::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 50%;
    top: 100%;
    transform: translate(-50%, 0px);
}
.container .ch::after {
    content: "";
    width: 0;
    height: 0;
}
.n1 {
    width: 2px;
    height: 170px;
    background: white;
    position: absolute;
    top: 30%;
    left: 30%;
    animation: name 0.8s ease-out infinite alternate;
    transform-origin: 0% 0%;

}

.n2 {
    width: 2px;
    height: 170px;
    background: white;
    position: absolute;
    top: 30%;
    left:40%;
}

.n3 {
    width: 2px;
    height: 170px;
    background: white;
    position: absolute;
    top: 30%;
    left: 50%;
}

.n4 {
    width: 2px;
    height: 170px;
    background: white;
    position: absolute;
    top: 30%;
    left: 60%;
}

.n5 {
    width: 2px;
    height: 170px;
    background: white;
    position: absolute;
    top: 30%;
    left: 70%;
    animation: name2 0.8s ease-out 0.8s infinite alternate;
    transform-origin: 0% 0%;
}

@keyframes name {
    0%, 50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(30deg);
    }
}

@keyframes name2 {
    0%, 50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-30deg);
    }
}